<div class="col-lg-3 col-md-6 team_col" style="padding-top: 200px;">
    <div class="team_item" >
        <div class="team_image"><img src="/assets/images/team_2.jpg" alt=""></div>
        <div class="team_body">
            <div class="team_title"><div> {{a.name}}</div>
            <div class="team_subtitle">{{a.lastName}}</div></div>
            <div class="social_list">
                <ul>
                    <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
