
<table class="table">
    
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">score1</th>
        <th scope="col">score2</th>
        <th scope="col">team1</th>
        <th scope="col">team2</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row"></th>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
     
      
        <td><button>display</button></td>
        <td><button>delete</button></td>
        <td><button>edit</button></td>
      </tr>
      
      
     
    </tbody>
  </table>


