<div class="counter">
    <div class="counter_background" style="background-image:url(assets/images/counter_background.jpg)"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="counter_content">
                    <h2 class="counter_title">Login</h2>
                    <div class="counter_text"><p>Simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry’s standard dumy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p></div>

                    <!-- Milestones -->

                    <div class="milestones d-flex flex-md-row flex-column align-items-center justify-content-between">
                        
                        <!-- Milestone -->
                        <div class="milestone">
                            <div class="milestone_counter" data-end-value="15">0</div>
                            <div class="milestone_text">years</div>
                        </div>

                        <!-- Milestone -->
                        <div class="milestone">
                            <div class="milestone_counter" data-end-value="120" data-sign-after="k">0</div>
                            <div class="milestone_text">years</div>
                        </div>

                        <!-- Milestone -->
                        <div class="milestone">
                            <div class="milestone_counter" data-end-value="670" data-sign-after="+">0</div>
                            <div class="milestone_text">years</div>
                        </div>

                        <!-- Milestone -->
                        <div class="milestone">
                            <div class="milestone_counter" data-end-value="320">0</div>
                            <div class="milestone_text">years</div>
                        </div>

                    </div>
                </div>

            </div>
        </div>

        <div class="counter_form">
            <div class="row fill_height">
                <div class="col fill_height">
                    <form class="counter_form_content d-flex flex-column align-items-center justify-content-center" #addCoursId="ngForm" (ngSubmit)="add">
                        
                        <input required #name="ngModel" [(ngModel)]="user.name" type="text" class="counter_input" placeholder="Name:"  name="name">
                        <div *ngIf="addCoursId.submitted && name.invalid" class="invalidfeedback">

                            <div *ngIf="addCoursId.controls['name'].errors.required" class="text-danger">Name is required</div>
                        </div>
                        <input required #price="ngModel" [(ngModel)]="user.price" type="text" class="counter_input" placeholder="Price:"  name="price">
                        <div *ngIf="addCoursId.submitted && price.invalid" class="invalidfeedback">

                            <div *ngIf="addCoursId.controls['price'].errors.required" class="text-danger">price is required</div>
                        </div>

                        <input required #description="ngModel" [(ngModel)]="user.description" type="password" class="counter_input" placeholder="Description:"  name="description">
                        <div *ngIf="addCoursId.submitted && description.invalid" class="invalidfeedback">

                            <div *ngIf="addCoursId.controls['description'].errors.required" class="text-danger">description is required</div>
                        </div>
                        <input required #place="ngModel" [(ngModel)]="user.place" type="password" class="counter_input" placeholder="Place:"  name="place">
                        <div *ngIf="addCoursId.submitted && place.invalid" class="invalidfeedback">

                            <div *ngIf="addCoursId.controls['place'].errors.required" class="text-danger">place is required</div>
                        </div>
                       
                        <button type="submit" class="counter_form_button">Add</button>
                    </form>
                </div>
            </div>
        </div>

    </div>
</div>

