<div class="counter"style="padding-top: 200px;">
    <div class="counter_background" style="background-image:url(assets/images/counter_background.jpg)"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="counter_content">
                    <h2 class="counter_title">Add Cours</h2>
                    <div class="counter_text"></div>

                    <!-- Milestones -->

                    <div class="milestones d-flex flex-md-row flex-column align-items-center justify-content-between">
                        
                        <!-- Milestone -->
                        <div class="milestone">
                            <div class="milestone_counter" data-end-value="15">0</div>
                            <div class="milestone_text">years</div>
                        </div>

                        <!-- Milestone -->
                        <div class="milestone">
                            <div class="milestone_counter" data-end-value="120" data-sign-after="k">0</div>
                            <div class="milestone_text">years</div>
                        </div>

                        <!-- Milestone -->
                        <div class="milestone">
                            <div class="milestone_counter" data-end-value="670" data-sign-after="+">0</div>
                            <div class="milestone_text">years</div>
                        </div>

                        <!-- Milestone -->
                        <div class="milestone">
                            <div class="milestone_counter" data-end-value="320">0</div>
                            <div class="milestone_text">years</div>
                        </div>

                    </div>
                </div>

            </div>
        </div>

        <div class="counter_form">
            <div class="row fill_height">
                <div class="col fill_height">
                    <form class="counter_form_content d-flex flex-column align-items-center justify-content-center"  (ngSubmit)="add">
                        
                        <input    type="text" class="counter_input" placeholder="Name:"  name="name">
                        
                        <input    type="text" class="counter_input" placeholder="Price:"  name="price">
                       

                        <input  type="password" class="counter_input" placeholder="Description:"  name="description">
                        
                        <input   type="password" class="counter_input" placeholder="Place"name='password'>
                       
                        <button type ="submit" class="counter_form_button">Add</button>
                    </form>
                </div>
            </div>
        </div>

    </div>
</div>

